fastapi
uvicorn[standard]
pydantic>=2
pydantic-settings
sqlalchemy
alembic
psycopg[binary]
redis
httpx
python-json-logger
prometheus-client
pytest
pytest-cov
pytest-asyncio
msgpack>=1.2.1
setuptools>=78.1.1